@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.overlayMainText {
  font-family: "Permanent Marker", cursive;
}

.navbar {
  font-family: "Oswald", sans-serif;
}

.servicesBox {
  height: 575px;
}
